<template>
  <div id="mainArea">
    <div id="colorlib-page">
      <header>
        <div class="colorlib-navbar-brand">
          <a class="colorlib-logo" style="color: #00cc44" href="index.html"
            ><img src="/icon.png" width="6%" class="mr-3 mb-2" alt="秘密花園-首頁" title="秘密花園-首頁" />祕密花園<br /><span
              class="ml-5 pl-3"
              >寵物生活會館</span
            ></a
          >
        </div>
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
      </header>

      <section class="home-slider owl-carousel">
        <div id="bannerSlider1" class="slider-item" alt="秘密花園-首頁" title="秘密花園-首頁">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text justify-content-start align-items-center" data-scrollax-parent="true">
              <div class="col-md-8 col-lg-7 col-sm-12 ftco-animate text mb-4" data-scrollax=" properties: { translateY: '70%' }">
                <span class="position">您在找我嗎?</span>
                <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">毛小孩專區</h1>
                <div class="d-md-flex models-info mt-5 mb-5">
                  <div>
                    <p class="home-banner-main-item">主食項目</p>
                    <span class="home-banner-sub-item">5 大品牌</span>
                  </div>
                  <div>
                    <p class="home-banner-main-item">零食選擇</p>
                    <span class="home-banner-sub-item">10 大種類</span>
                  </div>
                  <div>
                    <p class="home-banner-main-item">能量補給</p>
                    <span class="home-banner-sub-item">多種樣式</span>
                  </div>
                  <div>
                    <p class="home-banner-main-item">消耗用品</p>
                    <span class="home-banner-sub-item">沐浴清潔</span>
                  </div>
                  <div>
                    <p class="home-banner-main-item">我的金窩</p>
                    <span class="home-banner-sub-item">各式床窩</span>
                  </div>
                  <div>
                    <p class="home-banner-main-item">玩樂用品</p>
                    <span class="home-banner-sub-item">耐咬玩具</span>
                  </div>
                </div>
                <p>
                  <a href="#" class="btn btn-primary px-4 py-3">了解更多產品</a>
                  <a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">觀看商品列表</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="bannerSlider2" class="slider-item" alt="秘密花園-首頁" title="秘密花園-首頁">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text justify-content-start align-items-center" data-scrollax-parent="true">
              <div class="col-md-8 col-lg-7 col-sm-12 ftco-animate text mb-4" data-scrollax=" properties: { translateY: '70%' }">
                <span class="position">魚兒水中游...</span>
                <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">水族世界</h1>
                <div class="d-md-flex models-info mt-5 mb-5">
                  <div>
                    <p>我的主食</p>
                    <span>4 大品牌</span>
                  </div>
                  <div>
                    <p>保健藥品</p>
                    <span>維持健康</span>
                  </div>
                  <div>
                    <p>過濾器材</p>
                    <span>各式選擇</span>
                  </div>
                  <div>
                    <p>各式水缸</p>
                    <span>多種尺寸</span>
                  </div>
                  <div>
                    <p>水族造景</p>
                    <span>水草假石</span>
                  </div>
                  <div>
                    <p>照明器具</p>
                    <span>多種亮度</span>
                  </div>
                </div>
                <p>
                  <a href="#" class="btn btn-primary px-4 py-3">了解更多產品</a>
                  <a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">觀看商品列表</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="bannerSlider3" class="slider-item" alt="秘密花園-首頁" title="秘密花園-首頁">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text justify-content-start align-items-center" data-scrollax-parent="true">
              <div class="col-md-8 col-lg-7 col-sm-12 ftco-animate text mb-4" data-scrollax=" properties: { translateY: '70%' }">
                <span class="position">可愛世界在這邊~</span>
                <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">鳥兒 & 鼠鼠</h1>
                <div class="d-md-flex models-info mt-5 mb-5">
                  <div>
                    <p class="third-banner-main-item">專用飼料</p>
                    <span class="third-banner-sub-item">各大品牌</span>
                  </div>
                  <div>
                    <p class="third-banner-main-item">餵養器具</p>
                    <span class="third-banner-sub-item">各種材質</span>
                  </div>
                  <div>
                    <p class="third-banner-main-item">鳥鼠一窩</p>
                    <span class="third-banner-sub-item">各種尺寸</span>
                  </div>
                  <div>
                    <p class="third-banner-main-item">一起走吧</p>
                    <span class="third-banner-sub-item">特色攜包</span>
                  </div>
                  <div>
                    <p class="third-banner-main-item">伸展台</p>
                    <span class="third-banner-sub-item">各種站架</span>
                  </div>
                  <div>
                    <p class="third-banner-main-item">玩樂用具</p>
                    <span class="third-banner-sub-item">方便輕巧</span>
                  </div>
                </div>
                <p>
                  <a href="#" class="btn btn-primary px-4 py-3">了解更多產品</a>
                  <a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">觀看商品列表</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="bannerSlider4" class="slider-item" alt="秘密花園-首頁" title="秘密花園-首頁">
          <div class="overlay"></div>
          <div class="container">
            <div class="row slider-text justify-content-start align-items-center" data-scrollax-parent="true">
              <div class="col-md-8 col-lg-7 col-sm-12 ftco-animate text mb-4" data-scrollax=" properties: { translateY: '70%' }">
                <span class="position">為他們找個家...</span>
                <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">請認養代替購買!</h1>
                <div class="d-md-flex models-info mt-5 mb-5">
                  <div>
                    <p class="end-banner-main-item">巧虎</p>
                    <span class="end-banner-sub-item">可愛憐人</span>
                  </div>
                  <div>
                    <p class="end-banner-main-item">小白</p>
                    <span class="end-banner-sub-item">活潑好動</span>
                  </div>
                  <div>
                    <p class="end-banner-main-item">黑皮</p>
                    <span class="end-banner-sub-item">聰明聽話</span>
                  </div>
                  <div>
                    <p class="end-banner-main-item">來福</p>
                    <span class="end-banner-sub-item">忠厚顧家</span>
                  </div>
                  <div>
                    <p class="end-banner-main-item">咪咪</p>
                    <span class="end-banner-sub-item">貪吃可愛</span>
                  </div>
                  <div>
                    <p class="end-banner-main-item">庫巴</p>
                    <span class="end-banner-sub-item">貼心穩定</span>
                  </div>
                </div>
                <p>
                  <a href="#" class="btn btn-primary px-4 py-3">如何幫到他們?</a>
                  <a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">了解更多...</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END slider -->

      <section class="ftco-section-2">
        <div class="container-fluid">
          <div class="section-2-blocks-wrapper d-flex row no-gutters">
            <div id="shoppingDisplay" class="img col-md-6 ftco-animate" alt="秘密花園-購物展示" title="秘密花園-購物展示"></div>
            <div class="text col-md-6 ftco-animate">
              <div class="text-inner align-self-start">
                <h3 class="heading">想找到最適合的商品嗎?</h3>
                <p>
                  別擔心! <strong>祕密花園</strong> 將會是您最好的選擇, 無論市面上的<strong>各大品牌產品</strong>、或是醫生推薦的
                  <strong>保健品</strong> 應有盡有, 不怕您來找, 只怕您不來呦! 也歡迎多看多比較!
                </p>
                <ul class="my-4">
                  <li><span class="ion-ios-checkmark-circle mr-2"></span> 我們有舒適明亮的購物空間、動線指引!</li>
                  <li><span class="ion-ios-checkmark-circle mr-2"></span> 我們有專業的解說人員為您服務!</li>
                  <li><span class="ion-ios-checkmark-circle mr-2"></span> 我們有合理的價格與產品服務!</li>
                </ul>

                <div class="row">
                  <div class="col-md-7 ftco-animate">
                    <div
                      id="introduceVideo"
                      class="img-2 d-flex justify-content-center align-items-center"
                      alt="秘密花園-店面介紹影片"
                      title="秘密花園-店面介紹影片"
                    >
                      <a href="videos/introduce.mp4" class="button popup-vimeo"><span class="ion-ios-play"></span></a>
                    </div>
                  </div>
                  <div class="col-md-4 d-md-flex align-items-center">
                    <h3 class="watchvideo-heading">
                      <a href="#"><span class="ion-ios-play"></span> 觀看我們店面影片</a>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section-2">
        <div class="container-fluid">
          <div class="row d-flex no-gutters">
            <div class="col-md-6 d-flex align-items-center heading-section ftco-animate bg-light">
              <div class="col-md-9">
                <div class="p-5">
                  <h2 class="mb-4">我們主推的產品與服務...</h2>
                  <p>健康的動物飼料、新鮮手做零食</p>
                  <p>超級耐玩的特色玩具</p>
                  <p>適合各種毛小孩的窩</p>
                  <p>美麗的水族照景設備</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 model-entry ftco-animate">
              <div id="productImage1" class="model-img" alt="秘密花園-精緻狗糧、飼料" title="秘密花園-精緻狗糧、飼料">
                <div class="name">
                  <h3><a href="product-detail.html">精緻狗糧、飼料</a></h3>
                </div>
                <div class="text">
                  <h3><a href="product-detail.html">精緻狗糧、飼料</a></h3>
                  <div class="d-flex models-info">
                    <div class="pr-md-3">
                      <p>希爾思</p>
                      <span>12款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>寶多福</p>
                      <span>10款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>寶路</p>
                      <span>10款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>西莎</p>
                      <span>7款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>博士巧思</p>
                      <span>5款</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 model-entry ftco-animate">
              <div id="productImage2" class="model-img" alt="秘密花園-精緻貓糧、飼料" title="秘密花園-精緻貓糧、飼料">
                <div class="name">
                  <h3><a href="product-detail.html">精緻貓糧、飼料</a></h3>
                </div>
                <div class="text">
                  <h3><a href="product-detail.html">精緻貓糧、飼料</a></h3>
                  <div class="d-flex models-info">
                    <div class="pr-md-3">
                      <p>皇家</p>
                      <span>15款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>希爾思</p>
                      <span>12款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>西莎</p>
                      <span>12款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>寶路</p>
                      <span>8款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>博士巧思</p>
                      <span>8款</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 model-entry ftco-animate">
              <div id="productImage3" class="model-img" alt="秘密花園-手作美味零食" title="秘密花園-手作美味零食">
                <div class="name">
                  <h3><a href="product-detail.html">手作美味零食</a></h3>
                </div>
                <div class="text">
                  <h3><a href="product-detail.html">手作美味零食</a></h3>
                  <div class="d-flex models-info">
                    <div class="pr-md-3">
                      <p>肉乾</p>
                      <span>15種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>肉條</p>
                      <span>12種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>餅乾</p>
                      <span>10種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>脆片</p>
                      <span>10種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>魚鬆</p>
                      <span>5種</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 model-entry ftco-animate">
              <div id="productImage4" class="model-img" alt="秘密花園-觀賞魚飼料、活餌" title="秘密花園-觀賞魚飼料、活餌">
                <div class="name">
                  <h3><a href="product-detail.html">觀賞魚飼料、活餌</a></h3>
                </div>
                <div class="text">
                  <h3><a href="product-detail.html">觀賞魚飼料、活餌</a></h3>
                  <div class="d-flex models-info">
                    <div class="pr-md-3">
                      <p>海豐</p>
                      <span>13款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>福壽</p>
                      <span>11款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>Hirkari</p>
                      <span>8款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>AQUAFUN</p>
                      <span>8款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>其他活餌</p>
                      <span>5種</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 model-entry ftco-animate">
              <div id="productImage5" class="model-img" alt="秘密花園-各種鳥類飼料" title="秘密花園-各種鳥類飼料">
                <div class="name">
                  <h3><a href="product-detail.html">各種鳥類飼料</a></h3>
                </div>
                <div class="text">
                  <h3><a href="product-detail.html">各種鳥類飼料</a></h3>
                  <div class="d-flex models-info">
                    <div class="pr-md-3">
                      <p>Whitte Molen</p>
                      <span>15款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>AQUAFUN</p>
                      <span>13款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>Pet Best</p>
                      <span>10款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>偉特</p>
                      <span>8款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>蘭亞仕</p>
                      <span>5款</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 model-entry ftco-animate">
              <div id="productImage6" class="model-img" alt="秘密花園-貓、狗用床窩" title="秘密花園-貓、狗用床窩">
                <div class="name">
                  <h3><a href="product-detail.html">貓、狗用床窩</a></h3>
                </div>
                <div class="text">
                  <h3><a href="product-detail.html">貓、狗用床窩</a></h3>
                  <div class="d-flex models-info">
                    <div class="pr-md-3">
                      <p>犬用中小型</p>
                      <span>15種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>犬用大型</p>
                      <span>10種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>貓通用型</p>
                      <span>20種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>貓用加大</p>
                      <span>10種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>特殊床墊</p>
                      <span>10種</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 model-entry ftco-animate">
              <div id="productImage7" class="model-img" alt="秘密花園-各種樣式水草" title="秘密花園-各種樣式水草">
                <div class="name">
                  <h3><a href="product-detail.html">各種樣式水草</a></h3>
                </div>
                <div class="text">
                  <h3><a href="product-detail.html">各種樣式水草</a></h3>
                  <div class="d-flex models-info">
                    <div class="pr-md-3">
                      <p>水蘭類</p>
                      <span>18種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>有莖類</p>
                      <span>17種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>榕類</p>
                      <span>15種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>椒草類</p>
                      <span>13種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>水生蕨類</p>
                      <span>8種</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 model-entry ftco-animate">
              <div id="productImage8" class="model-img" alt="秘密花園-水族造景器具" title="秘密花園-水族造景器具">
                <div class="name">
                  <h3><a href="product-detail.html">水族造景器具</a></h3>
                </div>
                <div class="text">
                  <h3><a href="product-detail.html">水族造景器具</a></h3>
                  <div class="d-flex models-info">
                    <div class="pr-md-3">
                      <p>浮木</p>
                      <span>多種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>石材</p>
                      <span>10種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>貝殼</p>
                      <span>10種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>陶瓷品</p>
                      <span>8種</span>
                    </div>
                    <div class="pr-md-3">
                      <p>底砂</p>
                      <span>5款</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 model-entry ftco-animate">
              <div id="productImage9" class="model-img" alt="秘密花園-趣味、訓練用玩具" title="秘密花園-趣味、訓練用玩具">
                <div class="name">
                  <h3><a href="product-detail.html">趣味、訓練用玩具</a></h3>
                </div>
                <div class="text">
                  <h3><a href="product-detail.html">趣味、訓練用玩具</a></h3>
                  <div class="d-flex models-info">
                    <div class="pr-md-3">
                      <p>啃咬/發聲</p>
                      <span>18款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>拋接/互動</p>
                      <span>15款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>益智/訓練</p>
                      <span>10款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>逗貓用</p>
                      <span>15款</span>
                    </div>
                    <div class="pr-md-3">
                      <p>貓跳台</p>
                      <span>10款</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center align-items-center bg-light ftco-animate">
              <div class="btn-view">
                <p><a href="product.html">了解更多</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="clientSaying" class="ftco-section testimony-section img" alt="秘密花園-顧客回饋" title="秘密花園-顧客回饋">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 mb-5 text-center heading-section ftco-animate">
              <h2 class="mb-4">顧客有話說</h2>
              <p>來看看曾經光顧的貴賓們，對花園有什麼寶貴回饋吧...</p>
            </div>
          </div>
          <div class="row d-md-flex justify-content-center">
            <div class="col-md-7 ftco-animate">
              <div class="carousel-testimony owl-carousel">
                <div class="item">
                  <div class="testimony-wrap text-center">
                    <div id="client1" class="user-img mb-5">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5">
                        來店面買我們家毛小孩用品時，發現店面井然有序<br />店員們也很有耐心地為我解說所需的清潔工具，順便也了解正確的使用方式!&nbsp;大推!
                      </p>
                      <p class="name">李大維</p>
                      <span class="position">顧客</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap text-center">
                    <div id="client2" class="user-img mb-5">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5">
                        其實最近診所很多的毛媽毛爸都在問我有沒有推薦的營養補充品<br />想不到某天下午的光顧，讓我多知道原來附近還有一家相關補充品的好店家!<br />值得推薦!
                      </p>
                      <p class="name">林超群</p>
                      <span class="position">獸醫師</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap text-center">
                    <div id="client3" class="user-img mb-5">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5">
                        看到"天竺鼠車車"的動畫好心動喔<br />於是因緣際會下，透過到朋友介紹來到這裡!<br />哇~好多可愛的小窩窩跟玩具!&nbsp;我們家的micky不用煩惱啦~
                      </p>
                      <p class="name">陳小姐</p>
                      <span class="position">小資族</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimony-wrap text-center">
                    <div id="client4" class="user-img mb-5">
                      <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                      </span>
                    </div>
                    <div class="text">
                      <p class="mb-5">
                        正在煩惱要用什麼尺寸的魚缸給客戶時...<br />意外出現"祕密花園"的廣告!<br />好奇之下，到他們店面了解，才知道他們也有幫忙訂製特殊尺寸的造景缸!<br />甚至不常見的熱帶水草...<br />太棒了!我又多個選擇!
                      </p>
                      <p class="name">王麗敏</p>
                      <span class="position">水族造景師</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section-2">
        <div class="container-fluid">
          <div class="section-2-blocks-wrapper d-flex row no-gutters">
            <div id="ourService" class="img col-md-6 ftco-animate" alt="秘密花園-我們的服務" title="秘密花園-我們的服務"></div>
            <div class="text col-md-6 ftco-animate">
              <div class="text-inner align-self-start">
                <h3 class="heading">我們的服務</h3>
                <div class="services d-flex ftco-animate">
                  <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-megaphone"></span></div>
                  <div class="info ml-4">
                    <h3>專業人員的解說</h3>
                    <p>我們有受過相關專業訓練<br />為您耐心介紹與解說用途</p>
                  </div>
                </div>
                <div class="services d-flex ftco-animate">
                  <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-quality"></span></div>
                  <div class="info ml-4">
                    <h3>商品宅配服務</h3>
                    <p>如果單次消費超過<strong>2000</strong>元<br />即可為您免費宅配到府</p>
                  </div>
                </div>
                <div class="services d-flex ftco-animate">
                  <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-shopping-bag"></span></div>
                  <div class="info ml-4">
                    <h3>商品退換貨</h3>
                    <p>如您購買到有問題的瑕疵品<br />憑發票即刻換全新的商品</p>
                  </div>
                </div>
                <div class="services d-flex ftco-animate">
                  <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-photo-camera"></span></div>
                  <div class="info ml-4">
                    <h3>需要動保協助嗎</h3>
                    <p>可為您找到可信任的庇護所<br />與相關的中途服務</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-3 mb-5 heading-section ftco-animate">
              <h2 class="mb-4">最新秘密花園消息</h2>
              <p class="mb-2">您在關注我們嗎?</p>
              <p class="mb-2">有什麼好康折扣的呢?</p>
              <p class="mb-5">或是取得教學課程內容?</p>
              <p class="btn-view"><a href="#">請進入了解</a></p>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch">
                <a
                  id="blog1"
                  href="blog-single.html"
                  class="block-20 radius-img"
                  alt="秘密花園-寵物行為學習課程"
                  title="秘密花園-寵物行為學習課程"
                >
                </a>
                <div class="text pt-4 d-block">
                  <div class="meta mb-3">
                    <div><a href="#">07/13/2023</a></div>
                    <div><a href="#">花園園長</a></div>
                    <div>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 30</a>
                    </div>
                  </div>
                  <h3 class="heading mt-3"><a href="#">寵物行為學習課程來了!</a></h3>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch">
                <a id="blog2" href="blog-single.html" class="block-20 radius-img" alt="秘密花園-寵物清潔照顧" title="秘密花園-寵物清潔照顧">
                </a>
                <div class="text pt-4 d-block">
                  <div class="meta mb-3">
                    <div><a href="#">07/11/2023</a></div>
                    <div><a href="#">花園園長</a></div>
                    <div>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 22</a>
                    </div>
                  </div>
                  <h3 class="heading mt-3">
                    <a href="#">夏天到了!<br />您的毛小孩有掉毛的困惱嗎?</a>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch">
                <a id="blog3" href="blog-single.html" class="block-20 radius-img" alt="秘密花園-開幕大回饋" title="秘密花園-開幕大回饋">
                </a>
                <div class="text pt-4 d-block">
                  <div class="meta mb-3">
                    <div><a href="#">06/30/2023</a></div>
                    <div><a href="#">花園園長</a></div>
                    <div>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 19</a>
                    </div>
                  </div>
                  <h3 class="heading mt-3">
                    <a href="#">開幕大回饋!<br />全館最低85折!</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-quote ftco-animate">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-9 req-quote py-5 align-items-center img radius-img" id="joinUs">
              <h3 class="ml-md-3" style="color: #00cc44" alt="秘密花園-加入我們" title="秘密花園-加入我們">想成為花園的一份子嗎?</h3>
              <span class="ml-md-3"><a href="# ">歡迎您的加入!</a></span>
            </div>
          </div>
        </div>
      </section>

      <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-3">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">祕密花園</h2>
                <p>
                  無論是家裡的毛小孩們、漫遊水中的魚兒，或者是具有特色的寵物小夥伴們，這裡將會是來了就不想回家的秘密天地，趕緊跟爸爸媽媽一起來找尋您們的最愛
                </p>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                  <li class="ftco-animate">
                    <a href="# "><span class="icon-twitter"></span></a>
                  </li>
                  <li class="ftco-animate">
                    <a href="# "><span class="icon-facebook"></span></a>
                  </li>
                  <li class="ftco-animate">
                    <a href="# "><span class="icon-instagram"></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">最新花園消息</h2>
                <div class="block-21 mb-4 d-flex">
                  <a
                    id="recentNews1"
                    class="blog-img mr-4 radius-img"
                    alt="秘密花園-寵物行為學習課程"
                    title="秘密花園-寵物行為學習課程"
                  ></a>
                  <div class="text">
                    <h3 class="heading"><a href="# ">寵物行為學習課程來了!</a></h3>
                    <div class="meta">
                      <div>
                        <a href="# "><span class="icon-calendar"></span> 07/13/2023 </a>
                      </div>
                      <div>
                        <a href="# "><span class="icon-person"></span> 花園園長</a>
                      </div>
                      <div>
                        <a href="# "><span class="icon-chat"></span> 30</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block-21 mb-4 d-flex">
                  <a id="recentNews2" class="blog-img mr-4 radius-img" alt="秘密花園-寵物清潔照顧" title="秘密花園-寵物清潔照顧"></a>
                  <div class="text">
                    <h3 class="heading">
                      <a href="# ">夏天到了!<br />您的毛小孩有掉毛的困惱嗎?</a>
                    </h3>
                    <div class="meta">
                      <div>
                        <a href="# "><span class="icon-calendar"></span> 07/11/2023 </a>
                      </div>
                      <div>
                        <a href="# "><span class="icon-person"></span> 花園園長</a>
                      </div>
                      <div>
                        <a href="# "><span class="icon-chat"></span> 22</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="ftco-footer-widget mb-4 ml-md-4">
                <h2 class="ftco-heading-2">花園導覽</h2>
                <ul class="list-unstyled">
                  <li><a href="index.html " class="py-2 d-block">秘密花園首頁</a></li>
                  <li><a href="about.html " class="py-2 d-block">關於祕密花園</a></li>
                  <li><a href="product.html " class="py-2 d-block">花園熱銷商品</a></li>
                  <li><a href="blog.html " class="py-2 d-block">最新花園消息</a></li>
                  <li><a href="contact.html" class="py-2 d-block">聯絡秘密花園</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">有任何問題嗎?</h2>
                <div class="block-23 mb-3">
                  <ul>
                    <li><span class="icon icon-map-marker"></span><span class="text">500201 台灣 彰化縣彰化市中山路二段416號</span></li>
                    <li>
                      <a href="# "><span class="icon icon-phone"></span><span class="text">0963-037844</span></a>
                    </li>
                    <li>
                      <a href="# "><span class="icon icon-envelope"></span><span class="text">leowang1025jobs@gmail.com</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>

<style scoped>
#bannerSlider1 {
  background-image: url('../assets/images/bg_0.jpg');
}

#bannerSlider2 {
  background-image: url('../assets/images/bg_2.jpg');
}

#bannerSlider3 {
  background-image: url('../assets/images/bg_3.jpg');
}

#bannerSlider4 {
  background-image: url('../assets/images/bg_4.jpg');
}

#shoppingDisplay {
  background-image: url('../assets/images/shopping.jpg');
}
#introduceVideo {
  background-image: url('../assets/images/bg_6.jpg');
}

#productImage1 {
  background-image: url('../assets/images/image_1.png');
}

#productImage2 {
  background-image: url('../assets/images/image_2.png');
}
#productImage3 {
  background-image: url('../assets/images/image_3.jpg');
}
#productImage4 {
  background-image: url('../assets/images/image_4.jpg');
}
#productImage5 {
  background-image: url('../assets/images/image_5.png');
}
#productImage6 {
  background-image: url('../assets/images/image_6.jpg');
}
#productImage7 {
  background-image: url('../assets/images/image_7.jpg');
}
#productImage8 {
  background-image: url('../assets/images/image_8.jpg');
}
#productImage9 {
  background-image: url('../assets/images/image_9.jpg');
}

#clientSaying {
  background-image: url('../assets/images/client-saying.jpg');
}

#client1 {
  background-image: url('../assets/images/person_1.jpg');
}

#client2 {
  background-image: url('../assets/images/person_2.jpg');
}

#client3 {
  background-image: url('../assets/images/person_3.jpg');
}

#client4 {
  background-image: url('../assets/images/person_4.jpg');
}

#ourService {
  background-image: url('../assets/images/bg_6.jpg');
}

#blog1,
#recentNews1 {
  background-image: url('../assets/images/animal_training.jpg');
}

#blog2,
#recentNews2 {
  background-image: url('../assets/images/dog_shedding.jpg');
}
#blog3 {
  background-image: url('../assets/images/opening.jpg');
}

#joinUs {
  background-image: url('../assets/images/join_us.jpg');
}
</style>
