<template>
  <nav id="colorlib-main-nav" role="navigation">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
    <div class="js-fullheight colorlib-table">
      <div class="img" style="background-image: url(/icon.png)" alt="秘密花園-首頁" title="秘密花園-首頁"></div>
      <div class="colorlib-table-cell js-fullheight">
        <div class="row no-gutters">
          <div class="col-md-12 text-center">
            <h1 class="mb-4">
              <div class="row">
                <div class="col-sm-5 col-md-4"></div>
                <div class="col-sm-7 col-md-8">
                  <a href="index.html" class="logo text-left">
                    <img src="/icon.png" alt="秘密花園-首頁" title="秘密花園-首頁" class="mr-3 mb-2" style="max-width: 6%" />祕密花園<br />
                    <span class="ml-5">寵物生活專賣</span>
                  </a>
                </div>
              </div>
            </h1>
            <ul>
              <li class="ml-5 pl-4 active">
                <a href="index.html"
                  ><span><small>01</small>秘密花園首頁</span></a
                >
              </li>
              <li class="ml-5 pl-4">
                <a href="about.html"
                  ><span><small>02</small>關於祕密花園</span></a
                >
              </li>
              <li class="ml-5 pl-4">
                <a href="product.html"
                  ><span><small>03</small>花園熱銷商品</span></a
                >
              </li>
              <li class="ml-5 pl-4">
                <a href="blog.html"
                  ><span><small>04</small>最新花園消息</span></a
                >
              </li>
              <li class="ml-5 pl-4">
                <a href="contact.html"
                  ><span><small>05</small>聯絡秘密花園</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
// export default {
//   name: 'HelloWorld',
//   props: {
//     msg: String,
//   },
// }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
