<template>
  <Navi></Navi>
  <Main></Main>
</template>

<script setup>
import Navi from './components/navigationBar.vue'
import Main from './components/mainArea.vue'

import { createApp, h } from 'vue'
import $ from 'jquery'

// import '../node_modules/owl.carousel/dist/assets/owl.carousel.css'
// import 'owl.carousel'
// import './assets/js/main.js' (需改寫)

const vm = createApp({
  data() {
    return {
      msg1: 'This is Test!',
      testData: $('title').text(),
    }
  },
  render: () => h(Navi, Main),
})

vm.component('myComponent1', {
  template: `<p>{{ msg1 }}</p><p>{{ testData }}</p>`,
})

vm.mount('#app')
</script>
